.workers-list-container {
  width: 100%;
}

.error-box {
  text-align: center;
  margin: auto;
  padding: 16px;
  margin-top: 149px;
}

.error-box__image {
  width: 56px;
  height: 56px;
}

.error-box__title {
  font-weight: 600;
  margin-bottom: 15px;
}

.error-box__text {
  margin-bottom: 15px;
}

.error-box__reload-link {
  color: #6534ff;
  margin: 0;
  font-weight: 600;
  line-height: 20px;
  cursor: pointer;
}

.loading-placeholder {
  display: flex;
  flex-direction: column;
}

.worker-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.worker-list__item {
  display: flex;
  align-items: center;
  height: 80px;
}

.worker-list__item-avatar {
  width: 72px;
  height: 72px;
}

.worker-list__item-details {
  display: flex;
  flex-direction: column;
}

.worker-list__item-details-name {
  font-weight: 500;
}

.worker-list__item-details-tag {
  font-weight: 400;
  margin-left: 0.25rem;
}

.worker-list__item-details-position {
  font-size: 0.875rem;
}
