.worker-details {
  text-align: center;
  height: 100%;
}

.worker-details__header {
  height: 60px;
  display: flex;
  align-items: center;
  padding-left: 24px;
}

.worker-details__header button {
  border: none;
  background: transparent;
}

.worker-details__header button img {
  height: 24px;
}

.worker-details__info-card {
  height: 184px;
  background: #f7f7f8;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.worker-details__info-card .MuiStack-root {
  margin: 0;
}

.worker-details__info-card .MuiAvatar-root {
  margin-bottom: 24px;
  height: 104px;
  width: 104px;
}

.worker-details__info-card__name {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: #333;
}

.worker-details__info-card__name-tag {
  font-size: 16px;
  margin-left: 8px;
}

.worker-details__info-card__position {
  font-size: 14px;
  text-align: center;
  align-items: center;
}

.worker-details__details {
  display: flex;
  flex-direction: column;
}

.worker-details__details-item {
  display: flex;
  align-items: center;
  padding: 2px 16px;
  height: 60px;
}

.worker-details__details-item img {
  height: 24px;
  margin-right: 8px;
}

.worker-details__details-item .MuiTypography-root {
  line-height: 28px;
  color: #333;
}
