.error-box {
  text-align: center;
  margin: auto;
  padding: 16px;
  margin-top: 149px;
}

.error-box .css-1cv0b2x-MuiTypography-root {
  margin: 12px 0;
}

.error-box__image {
  width: 56px;
  height: 56px;
}

.error-box__title {
  font-weight: 600;
  line-height: 22px;
}

@media (max-width: 375px) {
  .error-box__title {
    font-size: 18px;
  }
}

.error-box__text {
  line-height: 20px;
}

.error-box__reload-link {
  color: #6534ff;
  font-weight: 600;
  line-height: 20px;
  cursor: pointer;
}
