.error-box {
  text-align: center;
  margin: auto;
  padding: 16px;
  margin-top: 149px;

  .css-1cv0b2x-MuiTypography-root {
    margin: 12px 0;
  }

  &__image {
    width: 56px;
    height: 56px;
  }

  &__title {
    font-weight: 600;
    line-height: 22px;

    @media (max-width: 375px) {
      font-size: 18px;
    }
  }

  &__text {
    line-height: 20px;
  }

  &__reload-link {
    color: #6534ff;
    font-weight: 600;
    line-height: 20px;
    cursor: pointer;
  }
}
